nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 4em;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.logo {
  font-size: 1.5em;
}

span {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
}

li {
  margin-left: 1.2em;
  text-transform: uppercase;
}

.active {
  color: #ff5252;
}

.fas {
  display: none;
}

@media screen and (max-width: 1034px) {
  .fas {
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
  }

  .nav-title {
    display: none;
  }
}