* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}